<?xml version="1.0"?>
<!--
/**
 * di
 * @copyright Copyright © 2019 Reyhan. All rights reserved.
 * @author    newrey9227@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Temporal fix to 2.1 problem with eav attributes: https://github.com/magento/magento2/issues/5339 -->
    <type name="Magento\Eav\Model\Entity\AttributeCache">
        <arguments>
            <argument name="unsupportedTypes" xsi:type="array">
                <item name="reyhan_sum" xsi:type="string">reyhan_sum</item>
            </argument>
        </arguments>
    </type>
    <!-- end temporal fix -->
    <type name="Reyhan\Sum\UI\Component\Listing\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Reyhan\Sum\Model\ResourceModel\Sum\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">RefGridFilterPool</argument>
        </arguments>
    </type>
    <virtualType name="RefGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="reyhan_sum_sum_listing_data_source" xsi:type="string">Reyhan\Sum\Model\ResourceModel\Sum\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Reyhan\Sum\Model\ResourceModel\Sum\Grid\Collection">
        <arguments>
            <argument name="eventPrefix" xsi:type="string">reyhan_sum_sum_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">reyhan_sum_sum_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Reyhan\Sum\Model\ResourceModel\Sum</argument>
        </arguments>
    </type>
</config>